<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <!-- Standard fields -->
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>thread</pattern>
                </pattern>
                <pattern>
                    <pattern>level</pattern>
                </pattern>
                <pattern>
                    <pattern>logger</pattern>
                </pattern>
                <pattern>
                    <pattern>message</pattern>
                </pattern>

                <!-- Custom fields -->
                <mdc />

                <!-- Adding Correlation-ID -->
                <pattern>
                    <pattern>[Correlation-ID: %X{X-Correlation-ID}]</pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>